STRINGTABLE
BEGIN
    STR_APP_NAME "Sleepy Lid"
    STR_DO_NOTHING "Do nothing"
    STR_SLEEP "Sleep"
    STR_HIBERNATE "Hibernate"
    STR_SHUT_DOWN "Shut down"
    STR_USING_BATTERY "Using battery"
    STR_PLUGGED_IN "Plugged in"
    STR_FMT_ON_BATTERY "On battery: [%s]"
    STR_FMT_PLUGGED_IN "Plugged in: [%s]"
    STR_FMT_MONITOR_CONNECTED_DC "Monitor connected, on battery: [%s]"
    STR_FMT_MONITOR_CONNECTED_AC "Monitor connected, plugged in: [%s]"
    STR_FMT_MONITOR_DISCONNECTED_DC "Monitor disconnected, on battery: [%s]"
    STR_FMT_MONITOR_DISCONNECTED_AC "Monitor disconnected, plugged in: [%s]"
    STR_SYNC_MONITOR "Sync with external monitor"
    STR_WHEN_LID_CLOSING "When lid closing"
    STR_EXIT "Exit"
    STR_START_ON_BOOT "Start on boot"
    STR_ON "ON"
    STR_OFF "OFF"
    STR_UNKNOWN "???"
    STR_ALREADY_RUNNING "Already running!"
END
